/* Add some margin-bottom to the Fancy sections. */
.field-name-field-fancy-rel-sections > .field-items > .field-item:not(:last-child) {
    margin-bottom: 1.2em;
}

/* Heading styles */
.headline-bold {
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black", sans-serif;
    font-size: 3.5em;
    letter-spacing: 10px;
}

.headline-3d {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    font-size: 2.5em;
    color: #fff;
}

.headline-letterpress {
    background: #DDD;
    padding: 0.1em 2em;
    font-family: Georgia, Times, serif;
    font-style: italic;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
    font-size: 1.5em;
    color: #999;
}

/* Fix strange bug in field_formatter_css_class. */
body .entity-fancy-section {
    background: inherit;
    padding: inherit;
}

/* Fix bartik paragraph margins. */
p {
    margin: 1.2em 0;
}

p:first-child{
    margin-top: 0;
}

p:last-child{
    margin-bottom: 0;
}